RESEND_API_KEY=YOUR-API-KEY
CONTACT_EMAIL_FROM=info@jmaislamientosyrevestimientos.com
CONTACT_EMAIL_TO=info@jmaislamientosyrevestimientos.com
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
