* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    letter-spacing: 1px;
}


@media (max-width: 767px){
                
    #toggle-menu.toggle-menu-active span{
        transition: 
            transform 0.3s ease-in-out 0.3s, 
            top 0.25s ease-in-out, 
            opacity 0.25s ease-in-out;
    }

    #toggle-menu span{
        transition: 
            transform 0.3s ease-in-out, 
            top 0.25s ease-in-out 0.3s,
            opacity 0.25s ease-in-out;
        transform-origin: center;
    }

    #toggle-menu.toggle-menu-active span#menu-bar-1{
        top: 10px;
        transform: rotate(45deg);
    }

    #toggle-menu.toggle-menu-active span#menu-bar-2{
        top: 8px;
        opacity: 0;
    }

    #toggle-menu.toggle-menu-active span#menu-bar-3{
        top: 2px;
        transform: rotate(-45deg);
    }

    .mobile-menu{
        -moz-transition: -moz-transform .5s;
        -o-transition: -o-transform .5s;
        -webkit-transition: -webkit-transform .5s;
         -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        -webkit-transform-origin: top;
        transform-origin: top;
        transition: transform .5s;
    }

    .slide-menu{
        transform: scaleY(0);
    }

}

/* carousel */
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item div img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: calc(50% + 1.25rem);
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    max-height: 32px;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}


/* card images */
.card {
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5 rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
}

/* blurr and scale*/
.modal-blurr{
    filter: blur(2px) grayscale(10%);
    -webkit-filter: blur(2px) grayscale(10%);
}

