@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px rgb(141, 200, 255);
  }

  .font-outline-2 {
    -webkit-text-stroke: 2px rgb(141, 200, 255);
  }

  .font-outline-3 {
    -webkit-text-stroke: 3px rgb(141, 200, 255);
  }

  .text-shadow {
    text-shadow: 16px 11px 8px rgba(0, 0, 0, 0.25);
  }
}
